<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="pageGrid" style="background: url('../assets/background-portrait.jpg') 0 0/100% 100% no-repeat;">
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="false" [options]="slideOptsOne" #slideWithNav >
            <ion-slide *ngFor="let cat of category">
              <div class="category-section">
                <span class="content_orange">{{cat.name}}</span>
                <div class="img_part">
                  <img src="{{cat.image}}" alt="{{cat.name}}">
                </div>
                <h3 class="count">{{cat.count}} Questions</h3>
                <div class="selectpart">
                  <!--
                  <ion-select (ionChange)="changeValue($event, 'count')" value="20" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="20">20</ion-select-option>
                    <ion-select-option value="30">30</ion-select-option>
                    <ion-select-option value="40">40</ion-select-option>
                    <ion-select-option value="50">50</ion-select-option>
                    <ion-select-option value="-1">All</ion-select-option>
                  </ion-select>-->

                  <ion-select (ionChange)="changeValue($event, 'difficulity')" value="demo" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="demo">Demo</ion-select-option>
                    <ion-select-option *ngIf="userInfo != undefined && userInfo.id != ''" value="level">Level Based</ion-select-option>
                  </ion-select>

                  <ion-select (ionChange)="changeValue($event, 'language')" value="english" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="english">English</ion-select-option>
                      <ion-select-option value="tamil">Tamil</ion-select-option>
                    </ion-select>
                  <ion-button shape="round" (click)="startTest(cat.slug)">
                    Start
                  </ion-button>
                </div>
              </div>
            </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
