.content_orange {
    font-size: 13px; 
}
.img_part {
    height:100px;
    margin-top: 15px;
}
.count {
    font-family: sans-serif,arial, verdana; 
    font-size:15px; 
    color: #FFAA66; 
    height:25px;
}
ion-slide {
    border: 1px solid #ccc;
    padding-bottom: 10px;
}