.logopart {
    ion-avatar {
        float:left;
    }
    .category-name {
        float: left;
        padding: 15px;
    }
}
.half {
    width: 50%;
    float: left;
    .flr {
        float:right;
    }
    .timersec {
        width: 100%;
        float: left;
        .closeIcon {
            margin-left: 10px;
            background: #ccc;
            padding: 0px 0px 0px 6px;
            border-radius: 50%;
            width: 20px;
            height: 19px;
            cursor: pointer;
        }
    }
    .completionStep {
        background-color: #ccc;
        float: left;
        display: block;
        width: 100%;
        margin-top: 5px;
        height: 9px;
        cursor: pointer;
        #background {
            width: 10%;
            height: 100%;
            background-color: green;
            z-index: 1;
            display: block;
            float: left;
        }
    }
}
  /*
  #countdown {
    position: relative;
    margin: auto;
    text-align: center;
  }
  
  #countdown-number {
    color: black;
    display: inline-block;
    line-height: 40px;
    position: absolute;
    top: 13px;
    right: 30px;
  }
  
  svg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 200px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;
    fill: none;
    // animation: countdown 10s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 200px;
    }
  }
*/
.back {
    width: 10%;
    cursor: pointer;
}
.question_content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    float: left;
}
.forward {
    width: 10%;
    cursor: pointer;
}
.fr {
    float: right;
}
.fl {
    float: left;
}

.disable-events {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.question_text {
    font-size:15px; 
    font-weight: bold;
}
.question_opttext {
    font-size: 13px;
}

.width50 {
    width: 50%;
    float: left;
    padding: 16px 0px;
    text-align: center;
    color:white;
}
.blkbtn {
    border-top: 1px solid black;
    background: black;
}
.redbtn {
    background: red;
    border-top: 1px solid red;
}

.sizebox {
    height: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    .textbox {
        margin: 0 auto;
        text-align: center;
        padding: 15px 0px 0px 0px;
        color: #ccc;
    }
    .active {
        color: #000;
    }
}