<ion-header>
  <!--<ion-toolbar>
    <div class="leftpart">
      <div class="logopart">
        <ion-avatar>
          <img src="assets/icon/logo.png">
        </ion-avatar>
        <span class="category-name">{{categoryName}}</span>
      </div>
      <span class="question_content">Q{{currentIndex + 1}} of {{count}}</span>
    </div>
    <div class="rightpart">
        <div id="countdown">
            <div id="countdown-number">{{displayTime}}</div>
            <svg>
              <circle r="30" cx="60" cy="40"></circle>
            </svg>
          </div>

    </div>
  </ion-toolbar>-->
  <ion-toolbar>
    <div class="logopart">
      <ion-avatar>
        <img src="assets/icon/logo.png">
      </ion-avatar>
      <span class="category-name">{{categoryName}}</span>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <div class="half">
      <span class="question_content">Q{{currentIndex + 1}} of {{count}}</span>
    </div>
    <div class="half">
      <div class="timersec"><span class="closeIcon flr">x</span><span class="timer flr">{{displayTime}}</span></div>
      <p class="completionStep" (click)="showList()" id="completionStep"><span id="background">&nbsp;</span></p>
    </div>
  </ion-toolbar>
  <!--<ion-toolbar>
    <ion-title>
      <span class="back fl" (click)="goPrev()" [ngClass]="{'disable-events' : currentIndex <= 0}"><ion-icon name="arrow-round-back"></ion-icon></span>
      <span class="question_content">Q{{currentIndex + 1}} of {{count}}</span>
      <span class="forward fr" (click)="goNext()" [ngClass]="{'disable-events' : currentIndex == count}"><ion-icon name="arrow-round-forward"></ion-icon></span>
    </ion-title>
  </ion-toolbar>-->
  <!--
  <ion-toolbar>
    <div class="questionpart">
      
      <div class="timer">
                  
          <button (click)='startTimer()'>Start Timer</button>
          <button (click)='pauseTimer()'>Pause</button>


          
          <p>{{timeLeft}} Seconds Left....</p> 
      </div>
    </div>
  </ion-toolbar>-->
</ion-header>

<ion-content padding *ngIf="showallQuestions">
    <ion-grid>
      <ion-row *ngIf="questions.length > 0">
        <ion-col size="3" class="demo-sections" *ngFor="let question of questions;let i=index;" (click)="getQuestions(i)">
          <div class="sizebox">
            <div [ngClass]="{'active': getAnswered(i)}" class="textbox">Q{{i + 1}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-content padding *ngIf="showallQuestions == false">
  <div class="questions_part">
    <div class="image_part" *ngIf="question.image !='' && (question.display_type == 'both' || question.display_type == 'image')">

    </div>
    <div class="video_part" *ngIf="question.video !='' && (question.display_type == 'both' || question.display_type == 'video')">

    </div>
    <h3 class="question_text" *ngIf="questionLanguage == 'english'">{{question.title}}</h3> 
    <h3 class="question_text" *ngIf="questionLanguage == 'tamil'">{{question.title_tamil}}</h3>
  </div>
  <div class="options_part">
      <ion-list>
        <ion-radio-group>
            <ion-list-header>
              <ion-label>Options</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let options of question.options;let i=index;">
              <ion-label class="question_opttext" text-wrap *ngIf="questionLanguage == 'english'">{{options.option}}</ion-label>
              <ion-label class="question_opttext" text-wrap *ngIf="questionLanguage == 'tamil'">{{options.option_tamil}}</ion-label>
              <ion-radio slot="start" [checked]="getChecked(options.id)" (ionSelect)="selectOption(options)"  value="{{options}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
      </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="showallQuestions == false">
      <div col="6" [ngClass]="{'disable-events' : currentIndex <= 0}" class="width50 blkbtn ptr" (click)="goPrev()">
        <span class="txt">Previous</span>
      </div>
      <div col="6" *ngIf="currentIndex != count-1" class="width50 redbtn ptr" (click)="goNext()">
        <span class="txt">Next</span>
      </div>
      <div col="6" *ngIf="currentIndex == count-1" class="width50 redbtn ptr" (click)="submitAnswers()">
        <span class="txt">Submit</span>
      </div>
  </ion-toolbar>
</ion-footer>