li{
    display:inline;
}
ion-card-header {
    text-align: center;
}
.logo-icon {
    margin: 0 auto;
    display: table;
    width: 100px;
    img {
        display: table-cell;
        width: 100px;
    }
}
.forgot_password{
    color:red;
    margin-left: 15px;
    text-decoration: none;
    
}
.validation-errors {
    color: red;
    font-size: 11px;
}
.validation-errors p {
    margin: 0px 2px 0px 0px;
}
.login-action-btn {
    margin-bottom: 20px;
    margin-top: 15px;
    ion-button {
        --background: #ff3333;
        --background-activated: #ff3333;
        --background-focused: #ff3333;
        --background-hover: #ff3333;
    }
    .buttons {
        width: 45%;
        margin: 5px 6px auto;
        height: auto;
        cursor: pointer;
        p {
            width: 130px;
            float: left;
            font-size: 11px;
            letter-spacing: 0px;
            span {
                clear: both;
                float: left;
                margin: 0 auto;
                width: 100%;
                margin-top: 5px;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

.footer_additional_links {
    bottom: 4px !important;
    padding: 0 27px 0 0;
    margin: 10px auto;
    position: relative;
    bottom: 10px;
    width: 100%;
    float: left;
    li:first {
        width: 31%;
    }
    li.last {
        list-style-type: disc;
        display: list-item;
        list-style-position: inside;
        display: list-item;
        width: 30%;
    }
    li {
        width: 31%;
        display: block;
        float: left;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .middle {
        width: 35%;
        margin-right: 10px;
        margin-top: 0px;
        list-style-type: disc;
        display: list-item;
        list-style-position: inside;
    }
}
.item-inner {
    border: none;
}
.skip-sec {
    margin: 0 auto;
    text-align: center;
    .skip_link{
        color:green;
        text-decoration:none;
    }
}
.buttons{
    color:primary;
     size:medium;
     
}
.list-ios {
    margin-bottom:15px;
}
.icon{
    font-size:20px;
    margin-left:20px;
    vertical-align: bottom;
}