<ion-app>
  <ion-menu contentId="content1" menuId="content1" type="overlay" class="my-custom-menu" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title><span class="fl"><ion-icon name="home"></ion-icon> Home</span>
          <span class="fr"><img src="assets/icon/logo.png"></span>
        </ion-title>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <button  menuClose ion-item class="menu" style="font-size:16px; background:none;" [routerLink]="['/myprofile']" (click)="profile()" routerDirection="root" >My Profile</button>
        </ion-item>
        <ion-item>
            <button  menuClose ion-item class="menu" style="font-size:16px; background:none;" [routerLink]="['/dashboard']" (click)="profile()" routerDirection="root" >Dashboard</button>
          </ion-item>
        <ion-item>
          <button  menuClose ion-item class="menu" style="font-size:16px; background:none;" [routerLink]="['/category']" (click)="profile()" routerDirection="root" >Category</button>
        </ion-item>
        <ion-item>
          <button  ion-item class="logout-btn nobgm" style="font-size:16px; background:none;" menuClose (click)="logout()">Logout</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
