<ion-header>
  <ion-toolbar>
    myprofile
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="validations_form"  (ngSubmit)="updateProfile(validations_form.value)" >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <div class="error-message server-error" [innerHTML]="formError">
            </div>
            <ion-item>
              <div class="col1">
                <ion-input  formControlName="firstname" type="text" placeholder="First Name"  required></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.firstname">
                    <div class="error-message" *ngIf="validations_form.get('firstname').hasError(validation.type) && (validations_form.get('firstname').dirty || validations_form.get('firstname').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col2">
                <ion-input  formControlName="lastname" type="text" placeholder="Last Name" ></ion-input>
              </div>
            </ion-item>
            <ion-item>
              <ion-input disabled="disabled" formControlName="username" type="text" readonly="readonly" placeholder="Username" required></ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.username">
                    <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
            </ion-item>
            <ion-item>
              <div class="col1">
                <ion-datetime formControlName="dob" display-format="MMM DD, YYYY" aria-placeholder="DOB" placeholder="DOB"></ion-datetime>
              </div>
              <div class="col2">
                  <ion-select formControlName="gender" placeholder="Select Gender">
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="male">Male</ion-select-option>
                  </ion-select>
              </div>
            </ion-item>
            <ion-item>
              <ion-input  formControlName="phoneno" type="text" placeholder="Phone " required></ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.phoneno">
                    <div class="error-message" *ngIf="validations_form.get('phoneno').hasError(validation.type) && (validations_form.get('phoneno').dirty || validations_form.get('phoneno').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
            </ion-item>
            <ion-item>
              <ion-input disabled="disabled" formControlName="email" type="email" placeholder="Email ID" readonly="readonly" required></ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
            </ion-item>
          </div>
          <div padding class="action-sec"> 
            <ion-button class="submit-btn"  size="small" type="submit" [disabled]="!validations_form.valid" expand="block">Update</ion-button>
            <ion-button [routerLink]="['/category']" class="submit-btn" size="small" type="button" expand="block">Cancel</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <h4 class="txtcenter">Change Password</h4>
  <form  [formGroup]="validations_changePassword"  (ngSubmit)="changePassword(validations_changePassword.value)" >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <div class="error-message server-error" [innerHTML]="formError">
            </div>
            <ion-item>
              <div class="">
                <ion-input  formControlName="password" type="password" placeholder="Enter Password"  required></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of valildation_changePassMessage.password">
                    <div class="error-message" *ngIf="validations_changePassword.get('password').hasError(validation.type) && (validations_changePassword.get('password').dirty || validations_changePassword.get('password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </ion-item>
            <ion-item>
              <div class="">
                <ion-input  formControlName="confirmPassword" type="password" placeholder="Enter Confirm Password" ></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of valildation_changePassMessage.confirmPassword">
                    <div class="error-message" *ngIf="validations_changePassword.get('confirmPassword').hasError(validation.type) && (validations_changePassword.get('confirmPassword').dirty || validations_changePassword.get('confirmPassword').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                  
                </div>
                
              </div>
            </ion-item>
          </div>
          <div padding class="cpassaction"> 
            <ion-button class="submit-btn"  size="small" type="submit" [disabled]="!validations_changePassword.valid" expand="block">Change Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </form>
</ion-content>
